<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Olá, <%= email %>!</h1>
    <h3>Você atualmente tem <%= points %> pontos.</h3>
    <p>Seu código é <%= codeInt %></p>
    <button>Reivindicar pontos</button>
    <button>Trocar pontos</button>
</body>
</html>