<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontos</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/points.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>
<body>
    <div class="header">
        <div class="logo" onclick="window.location.href = '/'">
            <img src="/images/EcoCanFULL.png" alt="">
        </div>
        <div class="links">
            <span onclick="window.location.href='/quemsomos'">Quem Somos</span>
            <span>Como Operamos</span>
            <span>Benefícios</span>
        </div>
    </div>
    <div class="main-container">
        <div class="container center-container">
            <h1>Reivindicar Pontos</h1>
            <p>Para reivindicar pontos, escreva o código gerado pela lixeira abaixo!</p>
            <input type="text" id="checkCode" maxlength="8" placeholder="Escreva aqui...">
            <button class="big-btn-user-card" onclick="checkCode()">Reivindicar!</button>
        </div>
    </div>
    <script>
        function checkCode() {
            window.location.href = `/check?email=<%=email%>&code=<%=code%>&checkcode=${document.getElementById('checkCode').value}`
        }

        document.addEventListener("keydown", (e) => {
            if (e.key == "Enter") {
                checkCode()
            }
        })

    </script>
</body>