.error-p {
    font-size: 1.5rem;
}

.error-title {
    text-align: center;
    text-decoration: underline;
}



.error-container > h3 {
    text-decoration: underline;
    font-weight: bold;
}

.error-container {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}