:root {
    --background: rgb(255, 252, 244);
    --background-dark: #fff6da;
    --background-darker: rgb(240, 233, 184);
    --text: #fff;
    --text-dark: #333;
    --accent: #27AE60;
    --accent-light: #5bd18c;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-container>input[type="text"] {
    border: var(--background-darker) 2px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: larger;
}

